@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 700);


.titulo{
    font-size: 50px; 
    font-family: "Open Sans", sans-serif; 
    color: rgba(206, 9, 9, 0.918);
}

body{
    background: rgba(28, 29, 28, 0.548);
    font-family: "Open Sans", sans-serif;
    margin: 0; padding: 0;
}

h1{
    color: hotpink; font-weight: 900; font-size: 60px;
}

.text{
    color: #fff; max-width:  600px;
    text-align: center; position: relative;
}

p{
    color: #fff;
    mix-blend-mode: screen;
    position: relative;
    margin-top: -20px;
}

p::after{
    background: 
        linear-gradient(180deg, transparent, #000 3rem)
        no-repeat bottom
        center/100% 100%;
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

p:hover::after{
    background-size: 100% 0%;
}

.container {
    background-color: rgb(21, 24, 23);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    font: 18px/1.5 "Roboto", sans-serif;
    justify-content: center;
    min-height: 100vh; position: relative;

}

body{
    margin: 100px auto;
    font-family: Helvetica; background: #fff;
}

.bread-crumbs {text-align: center;}

.bread-crumbs ul{
    list-style: none; display: inline-table;
}

.bread-crumbs ul li{display: inline;}

.bread-crumbs ul li a{
    display: block; float: left; height:  50px;
    background: #F3F5FA; text-align: center;
    padding: 30px 20px 0 60px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 20px;
    text-decoration: none; color: #8093A7;
}

.bread-crumbs ul li a:after{
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #f3f5fA;
    position: absolute;
    right: -40px; top: 0; z-index: 1;
}

.bread-crumbs ul li a:before{
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #fff;
    position: absolute; left: 0; top: 0;
}

.bread-crumbs ul li:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bread-crumbs ul li:first-child a:before{
    display: none;
}

.bread-crumbs ul li:last-child a{
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bread-crumbs ul li:last-child a:after{
    display: none;
}

.bread-crumbs ul li a:hover{
    background: #333; color: #fff;
}

.bread-crumbs ul li a:hover:after{
    border-left-color: #333; color: #fff;
}